process {

  conda = "./environment_setup/taxonomy_conda_environment.yaml"

  // setup resource usage limit for different types of processes

  // high memory process like blastn (using nt database)
  withLabel: 'highmem' {
    maxForks = 4
    cpus = 12
    memory = 256.GB
  }

  // low memory processes that use multi-threading
  // like bowtie2
  withLabel: 'lowmem_threaded' {
    maxForks = 6
    cpus = 8
  }

  // low memory processes that don't use multi-threading
  withLabel: 'lowmem_non_threaded' {
    maxForks = 24
    cpus = 1
  }
}


profiles {

  local {
    exector.name = 'local'
    executor.queueSize = 32
    executor.cpus = 32
    executor.memory = '256 GB'
    params.local_nt_database ="/home/databases/nr_nt/nt"
    params.local_diamond_database ="/home/databases/nr_nt/nr.dmnd"
    params.remote_blast_nt = false
  }

  conda {
    params.enable_conda    = true
    singularity.enabled    = false
    conda.cacheDir         = "$HOME/conda_cacheDir"
  }

  singularity {
    params.enable_conda    = false
    singularity.enabled    = true
    singularity.autoMounts = true
    singularity.cacheDir   = "$HOME/singularity_cacheDir"
  }
  test {
    includeConfig 'conf/test.config'
  }
}

def trace_timestamp = new java.util.Date().format( 'yyyy-MM-dd_HH-mm-ss')
timeline {
    enabled = true
    file    = "${params.tracedir}/execution_timeline_${trace_timestamp}.html"
}
report {
    enabled = true
    file    = "${params.tracedir}/execution_report_${trace_timestamp}.html"
}
trace {
    enabled = true
    file    = "${params.tracedir}/execution_trace_${trace_timestamp}.txt"
}
dag {
    enabled = true
    file    = "${params.tracedir}/pipeline_dag_${trace_timestamp}.pdf"
}

manifest {
    name            = 'stenglein-lab/taxonomy'
    author          = 'Mark Stenglein'
    homePage        = 'https://github.com/stenglein-lab/taxonomy'
    description     = 'A pipeline to taxonomically classify sequences from Illumina datasets'
    mainScript      = 'main.nf'
    nextflowVersion = '!>=21.04.0'
    version         = '1.0'
}


// Turn this option on to delete all intermediate files from the analysis
// see: https://www.nextflow.io/docs/latest/config.html
// cleanup = true
